.fa-js{
  
    color: #f7df1e;
}

.js{
    background-color:#808080;
}

.html{
    background-color: #e34f26;
}

.css{
    background-color: #1572b6;
}

.bootstrap{
    background-color: #7533fa;
}

.react{
    background-color: #5ed3f3;
}

.node{
    background-color: #8bbf3d;
}

.trello{
    background-color: #026aa7;
}

.fa-github{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    border-radius: 50%;
}

.discord{
    background-color: #535fee;
}

.linkedin{
    color: white;
    background-color: #29a0e9;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
}

.img-menu > img{
    width: 5%;
    height: 5%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.img-menu{
    display: flex;
}